/*
 Theme Name:   achtsam miteinander
 Theme URI:    http://agilevolunteer.com/achtsam-miteinander/
 Description:  achtsam-miteinander.de
 Author:       agilevolunteer
 Author URI:   http://agilevolunteer.com
 Template:     iexcel
 Version:      1.0.0
 License:      MIT
 Text Domain: i-excel
*/
