base = #963d53

.owl-item.active
  .tx-slide
    &-button
      @media (max-width: 399px)
        font-size 14px

    &-title
      white-space nowrap
      @media (max-width: 359px)
        font-size 18px
        margin-bottom 6px

.tx-slide-content
  .tx-slide-content-inner
    @media (max-width: 480px)
      padding-top 24px !important
    @media (max-width: 399px)
      padding 16px 0 8px 0 !important
    @media (max-width: 399px)
      padding 8px 0 8px 0 !important

.owl-item.cloned:not(.active)
  visibility hidden



