.agv
  &-eucookie
    position fixed
    bottom 0
    left 0
    right 0
    color #8e8e8e
    background-color #d6d6d6
    z-index 2000
    text-align center
    font-size 12px
    padding 0 contentPadding
    &__accept
      background transparent
      color base
      margin (contentPadding / 4) contentPadding
      padding (contentPadding / 4)
      &:hover
      &:active
      &:focus
        background #e4e4e4
