.single-event .site-main
  padding-top 0
.agv-singleEvent
  &__main
    display flex
    flex-direction row
  &__headline
    display block
    font-size 32px
    line-height 100px
    padding 0
    margin 0
    font-weight 500
    color base

  &__content
    padding 0 contentPadding
  &__details
    align-self baseline
    min-width 200px
  &__dateinfo
    font-size 1.25em
    text-align right
    &.to
      font-size 1em
      white-space nowrap
  &__priceinfo
    text-align right
    font-size 1.75em
  &__image
    float left
    padding contentPadding
    min-width 150px
  &__address
    padding-top contentPadding
    text-align right
  &__booking
    background #f5f5f5
    padding contentPadding
